@import "@javalent/utilities/dist/utilities/settings.css";

.has-nested-settings {
    padding-left: var(--size-4-4);
    padding-right: var(--size-4-4);
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.has-nested-settings .setting-item {
    width: 100%;
}

.custom-marker-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
